.dropdown(data-ng-class='{\'dropdown--show\': uc.dropdownVisible}')
  .dropdown__inner(tabindex='0', data-ng-keydown='uc.keys.arrows($event)')
    .dropdown__inner-content
      .flex-container
        .spinner(data-ng-if='uc.loading', role="spinner"): .spinner__icon
        nav(data-ng-hide='!((uc.selected.segments[0] && uc.hasTail) || uc.text.length)')
          ul.menu
            li.menu__item(data-ng-repeat='item in uc.filteredSegments track by $index', data-ng-class='{\'menu__item--active\': item == uc.selected.segments[0]}'): a(href='#', data-ng-click='item != uc.selected.segments[0] ? uc.select(item) : null') {{item}}
        .content
          .flex-container(data-ng-hide='uc.loading') 
            div(data-ng-if='!uc.data.length') Ничего не найдено.
            .item(data-ng-repeat='elem in uc.data track by $index', data-ng-hide='elem.id === null && uc.selected.segments.length < 2')
              a(href='#', data-ng-click='uc.select(elem)', tabindex='{{$index+1}}') {{elem.id ? elem.segments[1] : elem.segments[0]}}
