//-.dropdown-container(ng-class='{ show: listVisible }')
  .dropdown-display(ng-click='show()', ng-class='{ clicked: listVisible }')
    span(ng-if='!isPlaceholder') {{display}}
    span.placeholder(ng-if='isPlaceholder') {{placeholder}}
    i.fa fa-angle-down
  .dropdown-list
    div
      div(ng-repeat="item in list", ng-click="select(item)", ng-class="{ selected: isSelected(item) }")
        span {{property !== undefined ? item[property] : item}}
        i.fa.fa-check

.dropdown.bottom(ng-class='{show: dropdownVisible}', data-for-input='#selectVehicle')
  .inner(tabindex='0', ng-keydown='keys.arrows($event)')
    .dropdown-content
      .flex-container
        .spinner(ng-if='loading', role="spinner"): .spinner-icon
        nav.tabs-left(ng-hide='(!selected.segments[0] && !hasTail) || !q.length')
          ul.nav.nav-tabs
            li(ng-repeat='item in filteredSegments track by $index', ng-class='{active: item == selected.segments[0]}'): a(href='#', ng-click='item != selected.segments[0] ? select(item) : noop()') {{item}}
          //-.show-all: button.btn.btn-primary.btn-block(type="button") Назад
        aside.clearfix
          //-, hotkey='{down: close}
          .flex-container(ng-hide='loading') 
            //- если null и
            .item(ng-repeat='elem in data track by $index', ng-hide='elem.id === null && selected.segments.length < 2') 
              //-a(href='#', ng-click='selectFirm(elem.segments[0])', data-arr='{{elem}}') {{elem.id ? elem.segments[1] : elem.segments[0]}}
              a(href='#', ng-click='select(elem)', tabindex='{{$index+1}}') {{elem.id ? elem.segments[1] : elem.segments[0]}}
          //-.row
            //-.clearfix(ng-if='')
            .item.col-md-3(ng-repeat='elem in data track by $index') 
              a(href='#') {{elem.segments}}